<header class="header">
  <img class="header_logo" src="../../../assets/logo.png" alt="Meteora Logo" />
  <nav class="header_nav">
    <a href="/" class="header_nav_link">Home</a>
    <a href="/" class="header_nav_link">Nossas lojas</a>
    <a href="/" class="header_nav_link">Novidades</a>
    <a href="/" class="header_nav_link">Promocoes</a>
  </nav>
  <section class="header_search">
    <input class="header_search_input" placeholder="Digite o produto" />
    <button class="header_search_btn">Search</button>
  </section>
  <button class="header_btn" (click)="toggleMenu()">
    <img src="../../../assets/menu-btn/icon-menu.svg" />
  </button>
</header>
