<dialog class="modal-container hidden">
  <div class="modal-header">
    <div class="header-icon">
      <img
        src="../../../../assets/menu-btn/check-circle.svg"
        alt="Check Icon" />
    </div>
    <div class="header-title">E-mail cadastrado com sucesso!</div>
    <div class="header-close-btn">
      <button (click)="this.closeModal()">X</button>
    </div>
  </div>
  <div class="modal-content">
    <span class="content-text"
      >Em breve você receberá novidades exclusivas da Meteora.</span
    >
  </div>
</dialog>
