<section class="facilities-container">
  <span class="facilities-title">Conheça todas as nossas facilidades</span>
  <div class="cards-container">
    <div class="facilities-card">
      <div class="card-icon">
        <img
          src="../../../assets/icons/x-diamond (2).png"
          alt=""
          class="icon" />
      </div>
      <div class="card-description">
        <span class="description-title">PAGUE PELO PIX</span>
        <span class="description-text"
          >Ganhe 5% OFF em <br />
          pagamentos via PIX</span
        >
      </div>
    </div>
    <div class="facilities-card">
      <div class="card-icon">
        <img
          src="../../../assets/icons/arrow-repeat (2).png"
          alt=""
          class="icon" />
      </div>
      <div class="card-description">
        <span class="description-title">TROCA GRÁTIS</span>
        <span class="description-text"
          >Fique livre para trocar em até <br />
          30 dias.</span
        >
      </div>
    </div>
    <div class="facilities-card">
      <div class="card-icon">
        <img src="../../../assets/icons/flower1 (3).png" alt="" class="icon" />
      </div>
      <div class="card-description">
        <span class="description-title">SUSTENTABILIDADE</span>
        <span class="description-text"
          >Moda responsável, que respeita <br />
          o meio ambiente.</span
        >
      </div>
    </div>
  </div>
</section>
