<section class="newsletter-container">
  <div class="newsletter-title">
    <span
      >Quer receber nossas novidades, promoções exclusivas e 10% OFF na primeira
      compra? <strong>Cadastre-se!</strong></span
    >
  </div>
  <div class="newsletter-input">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="email"
        id="email"
        placeholder="Digite seu email" />
      <button type="submit">Enviar</button>
      <div *ngIf="f?.touched" class="invalid-feedback">
        <div *ngIf="f?.invalid">Email must be a valid email address</div>
      </div>
    </form>
  </div>
  <app-modal />
</section>
