/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '@angular/material/theming';
@include mat-core();

:root {
  --primary: #daff01;
  --secondary: #9353ff;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4b4b4b;
}

:root .dark-theme {
  --primary: #daff01;
  --secondary: #9353ff;
  --body: #4b4b4b;
  --text-menu: #fff;
  --text-body: #fff;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
